Flows/definition.json
{"name":"c4855329-3b62-4ee7-8c2e-8474d05d0fb2","id":"/providers/Microsoft.Flow/flows/c4855329-3b62-4ee7-8c2e-8474d05d0fb2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Approval Flow","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"08f1e010-859f-48ef-bc3b-b48e5ec58d9c","type":"User","tenantId":"6a0006ff-a17d-4d7e-9612-3174aa905ea9"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-10-11T08:25:53.1485776Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://glenshire.sharepoint.com/sites/approvals'))}/tables/@{encodeURIComponent(encodeURIComponent('86859fec-b02d-4a78-b18d-5f35db9a1c9d'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Get_source_list":{"runAfter":{"Initialize_-_Adaptive_Card":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/web/lists(guid'@{triggerBody()?['Resource']}')"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('RootSite'),triggerBody()?['SiteUrl']))}/httprequest","authentication":"@parameters('$authentication')"}},"Source_list_details":{"runAfter":{"Get_source_list":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_source_list')","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"id":{"type":"string"},"uri":{"type":"string"},"etag":{"type":"string"},"type":{"type":"string"}}},"FirstUniqueAncestorSecurableObject":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"RoleAssignments":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"ContentTypes":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"CreatablesInfo":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"DefaultView":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"DescriptionResource":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"EventReceivers":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Fields":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Forms":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"InformationRightsManagementSettings":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Items":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"ParentWeb":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"RootFolder":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Subscriptions":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"TitleResource":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"UserCustomActions":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Views":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"WorkflowAssociations":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"AllowContentTypes":{"type":"boolean"},"BaseTemplate":{"type":"integer"},"BaseType":{"type":"integer"},"ContentTypesEnabled":{"type":"boolean"},"CrawlNonDefaultViews":{"type":"boolean"},"Created":{"type":"string"},"CurrentChangeToken":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"StringValue":{"type":"string"}}},"DefaultContentApprovalWorkflowId":{"type":"string"},"DefaultItemOpenUseListSetting":{"type":"boolean"},"Description":{"type":"string"},"Direction":{"type":"string"},"DisableGridEditing":{"type":"boolean"},"DocumentTemplateUrl":{"type":"string"},"DraftVersionVisibility":{"type":"integer"},"EnableAttachments":{"type":"boolean"},"EnableFolderCreation":{"type":"boolean"},"EnableMinorVersions":{"type":"boolean"},"EnableModeration":{"type":"boolean"},"EnableRequestSignOff":{"type":"boolean"},"EnableVersioning":{"type":"boolean"},"EntityTypeName":{"type":"string"},"ExemptFromBlockDownloadOfNonViewableFiles":{"type":"boolean"},"FileSavePostProcessingEnabled":{"type":"boolean"},"ForceCheckout":{"type":"boolean"},"HasExternalDataSource":{"type":"boolean"},"Hidden":{"type":"boolean"},"Id":{"type":"string"},"ImagePath":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"DecodedUrl":{"type":"string"}}},"ImageUrl":{"type":"string"},"IrmEnabled":{"type":"boolean"},"IrmExpire":{"type":"boolean"},"IrmReject":{"type":"boolean"},"IsApplicationList":{"type":"boolean"},"IsCatalog":{"type":"boolean"},"IsPrivate":{"type":"boolean"},"ItemCount":{"type":"integer"},"LastItemDeletedDate":{"type":"string"},"LastItemModifiedDate":{"type":"string"},"LastItemUserModifiedDate":{"type":"string"},"ListExperienceOptions":{"type":"integer"},"ListItemEntityTypeFullName":{"type":"string"},"MajorVersionLimit":{"type":"integer"},"MajorWithMinorVersionsLimit":{"type":"integer"},"MultipleDataList":{"type":"boolean"},"NoCrawl":{"type":"boolean"},"ParentWebPath":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"DecodedUrl":{"type":"string"}}},"ParentWebUrl":{"type":"string"},"ParserDisabled":{"type":"boolean"},"ServerTemplateCanCreateFolders":{"type":"boolean"},"TemplateFeatureId":{"type":"string"},"Title":{"type":"string"}}}}}}},"Get_item_to_approve":{"runAfter":{"Set_-_Approval_Item_Site_Url":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(body('Source_list_details')?['d']?['Title']))}/items/@{encodeURIComponent(triggerBody()?['ItemId'])}","authentication":"@parameters('$authentication')"}},"Item_to_approve_details":{"runAfter":{"Get_item_to_approve":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_item_to_approve')","schema":{"type":"object","properties":{"@@odata.etag":{"type":["string","null"]},"ItemInternalId":{"type":["string","null"]},"ID":{"type":"integer"},"Title":{"type":["string","null"]},"Editor":{"type":"object","properties":{"@@odata.type":{"type":["string","null"]},"Claims":{"type":["string","null"]},"DisplayName":{"type":["string","null"]},"Email":{"type":["string","null"]},"Picture":{"type":["string","null"]},"Department":{"type":["string","null"]},"JobTitle":{"type":["string","null"]}}},"Editor#Claims":{"type":["string","null"]},"Modified":{"type":["string","null"]},"Created":{"type":["string","null"]},"BannerImageUrl":{"type":["string","null"]},"Description":{"type":["string","null"]},"PromotedState":{"type":"integer"},"OData__AuthorByline":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":["string","null"]},"Claims":{"type":["string","null"]},"DisplayName":{"type":["string","null"]},"Email":{"type":["string","null"]},"Picture":{"type":["string","null"]},"Department":{},"JobTitle":{}},"required":["@@odata.type","Claims","DisplayName"]}},"OData__AuthorByline@odata.type":{"type":["string","null"]},"OData__AuthorByline#Claims":{"type":"array","items":{"type":["string","null"]}},"OData__AuthorByline#Claims@odata.type":{"type":["string","null"]},"OData__SPSitePageFlags":{"type":"array"},"OData__SPSitePageFlags@odata.type":{"type":["string","null"]},"OData__SPSitePageFlags#Id":{"type":"array"},"OData__SPSitePageFlags#Id@odata.type":{"type":["string","null"]},"Author":{"type":"object","properties":{"@@odata.type":{"type":["string","null"]},"Claims":{"type":["string","null"]},"DisplayName":{"type":["string","null"]},"Email":{"type":["string","null"]},"Picture":{"type":["string","null"]},"Department":{},"JobTitle":{}}},"Author#Claims":{"type":["string","null"]},"{Identifier}":{"type":["string","null"]},"{IsFolder}":{"type":"boolean"},"{Thumbnail}":{"type":"object","properties":{"Large":{},"Medium":{},"Small":{}}},"{Link}":{"type":["string","null"]},"{Name}":{"type":["string","null"]},"{FilenameWithExtension}":{"type":["string","null"]},"{Path}":{"type":["string","null"]},"{ModerationStatus}":{"type":["string","null"]},"{ContentType}":{"type":"object","properties":{"@@odata.type":{"type":["string","null"]},"Id":{"type":["string","null"]},"Name":{"type":["string","null"]}}},"{ContentType}#Id":{"type":["string","null"]},"{VersionNumber}":{"type":["string","null"]}}}}},"Get_item_metadata_using_path":{"runAfter":{"Set_-_Approval_Item_File_Identifier":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileMetadataByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/GetFileByPath","queries":{"path":"@variables('ApprovalItemFileIdentifier')","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_for_site_pages_library":{"actions":{"Condition_-_Check_for_news":{"actions":{"Auto_approval_-_news":{"actions":{"Condition_-_Check_if_item_is_pending_2":{"actions":{},"runAfter":{"Get_item_pending_2":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@body('Get_item_pending_2')?['{ModerationStatus}']","Pending"]},"type":"If"},"Get_item_pending_2":{"runAfter":{"Condition_-_Check_group_membership_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(triggerBody()?['ItemId'])}","authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_get_publisher_permissions_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/web/getusereffectivepermissions(@user)?@user=%27i%3A0%23.f%7Cmembership%7C@{triggerBody()?['EditorEmail']}%27","headers":{"Accept":"application/json; odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/httprequest","authentication":"@parameters('$authentication')"}},"Condition_-_Check_group_membership_2":{"actions":{"Set_content_approval_status_-_auto_approved_2":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_auto_approval_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(body('Source_list_details')?['d']?['Title']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","comments":"This item has been auto approved","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_scheduled_publishing_for_auto_approval_2":{"actions":{"Delay_until":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"},"Send_email_to_comms_team":{"runAfter":{"Set_content_approval_status_-_auto_approved_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"William.Wright@glenshire.onmicrosoft.com;","Subject":"News has been auto approved","Body":"<p>Hi Comms Team,<br>\n<br>\n@{variables('ApprovalItemTitle')} has been auto approved in site @{variables('ApprovalItemSiteUrl')} a link to the item can be found below<br>\n<a href=@{variables('ApprovalItemSiteUrl')}@{body('Get_item_metadata_using_path')?['Path']}>Link to @{variables('ApprovalItemTitle')}</a><br>\n</p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Publisher_permissions_2":["Succeeded"]},"expression":{"equals":["@body('Publisher_permissions_2')?['d']?['GetUserEffectivePermissions']?['Low']","@string('4294705151')"]},"type":"If"},"Publisher_permissions_2":{"runAfter":{"Send_an_HTTP_request_to_get_publisher_permissions_2":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_to_get_publisher_permissions_2')","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"GetUserEffectivePermissions":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"High":{"type":"string"},"Low":{"type":"string"}}}}}}}}}},"runAfter":{},"type":"Scope"},"Approval_-_news":{"actions":{"Condition_-_Check_for_approval_2":{"actions":{"Set_content_approval_status_-_approved_2":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_approval_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_scheduled_publishing_for_approval_2":{"actions":{"Delay_until_4":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"},"Apply_to_each_5":{"foreach":"@body('Wait_for_an_approval_2')?['responses']","actions":{"Send_an_email_-_approved_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Approved: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')} has been approved by @{items('Apply_to_each_5')?['responder']?['displayName']}. Comments (if any): @{items('Apply_to_each_5')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Send_email_to_comms_team_2":{"runAfter":{"Send_an_email_-_approved_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"William.Wright@glenshire.onmicrosoft.com;","Subject":"News has been auto approved","Body":"<p>&lt;p&gt;Hi Comms Team,&lt;br&gt;<br>\n&lt;br&gt;<br>\n@{variables('ApprovalItemTitle')} has been auto approved in site @{variables('ApprovalItemSiteUrl')} a link to the item can be found below&lt;br&gt;<br>\n&lt;a href=@{variables('ApprovalItemSiteUrl')}@{body('Get_item_metadata_using_path')?['Path']}&gt;Link to @{variables('ApprovalItemTitle')}&lt;/a&gt;&lt;br&gt;<br>\n&lt;/p&gt;</p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_approved_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval_2":["Succeeded"]},"else":{"actions":{"Set_content_approval_status_-_rejected_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Reject","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_6":{"foreach":"@body('Wait_for_an_approval_2')?['responses']","actions":{"Send_an_email_-_rejected_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Rejected: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')}  has been rejected by @{items('Apply_to_each_6')?['responder']?['displayName']}. This item will remain as draft. \n\nComments (if any): @{items('Apply_to_each_6')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_rejected_2":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["","Approve"]},"type":"If"},"Wait_for_an_approval_2":{"runAfter":{"Create_an_approval_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}"},"path":"/approvals/@{encodeURIComponent(body('Create_an_approval_2')?['name'])}/subscriptions","authentication":"@parameters('$authentication')"}},"Create_an_approval_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"method":"post","body":{"title":"Please Review: ","assignedTo":"William.Wright@glenshire.onmicrosoft.com;","details":"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\n\n- **Title:**  @{variables('ApprovalItemTitle')}\n- **Description:**  @{variables('ApprovalItemDescription')}","itemLink":"@{body('Item_to_approve_details')?['{Link}']}","itemLinkDescription":"@{body('Item_to_approve_details')?['Title']}","enableNotifications":true},"path":"/types/@{encodeURIComponent('Basic')}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Auto_approval_-_news":["Succeeded"]},"type":"Scope"}},"runAfter":{},"else":{"actions":{"Auto_approval_-_contents":{"actions":{"Condition_-_Check_if_item_is_pending":{"actions":{},"runAfter":{"Get_item_pending":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@body('Get_item_pending')?['{ModerationStatus}']","Pending"]},"type":"If"},"Get_item_pending":{"runAfter":{"Condition_-_Check_group_membership":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(triggerBody()?['ItemId'])}","authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_get_publisher_permissions":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/web/getusereffectivepermissions(@user)?@user=%27i%3A0%23.f%7Cmembership%7C@{triggerBody()?['EditorEmail']}%27","headers":{"Accept":"application/json; odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/httprequest","authentication":"@parameters('$authentication')"}},"Condition_-_Check_group_membership":{"actions":{"Set_content_approval_status_-_auto_approved":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_auto_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(body('Source_list_details')?['d']?['Title']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","comments":"This item has been auto approved","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_scheduled_publishing_for_auto_approval":{"actions":{"Delay_until_3":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"}},"runAfter":{"Publisher_permissions":["Succeeded"]},"expression":{"equals":["@body('Publisher_permissions')?['d']?['GetUserEffectivePermissions']?['Low']","@string('4294705151')"]},"type":"If"},"Publisher_permissions":{"runAfter":{"Send_an_HTTP_request_to_get_publisher_permissions":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_to_get_publisher_permissions')","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"GetUserEffectivePermissions":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"High":{"type":"string"},"Low":{"type":"string"}}}}}}}}}},"runAfter":{},"type":"Scope"},"Approval_-_contents":{"actions":{"Condition_-_Check_for_approval":{"actions":{"Condition_-_Check_scheduled_publishing_for_approval":{"actions":{"Delay_until_2":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"},"Apply_to_each_3":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Send_an_email_-_approved":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Approved: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')} has been  approved by. @{items('Apply_to_each_3')?['responder']?['displayName']}. Comments (if any): @{items('Apply_to_each_3')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_approved":["Succeeded"]},"type":"Foreach"},"Set_content_approval_status_-_approved":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_approval":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","comments":"@body('Wait_for_an_approval')?['responseSummary']","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Set_content_approval_status_-_rejected":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Reject","comments":"@body('Wait_for_an_approval')?['responseSummary']","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Send_an_email_-_rejected":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Rejected: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')}  has been rejected by @{items('Apply_to_each_4')?['responder']?['displayName']}. This item will remain as draft. \n\nComments (if any): @{items('Apply_to_each_4')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_rejected":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@body('Wait_for_an_approval')?['outcome']","Approve"]},"type":"If"},"Create_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"method":"post","body":{"title":"Please Review: ","assignedTo":"William.Wright@glenshire.onmicrosoft.com;","details":"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\n\n- **Title:**  @{variables('ApprovalItemTitle')}\n- **Description:**  @{variables('ApprovalItemDescription')}","itemLink":"@{body('Item_to_approve_details')?['{Link}']}","itemLinkDescription":"@{body('Item_to_approve_details')?['Title']}","enableNotifications":true},"path":"/types/@{encodeURIComponent('Basic')}","authentication":"@parameters('$authentication')"}},"Wait_for_an_approval":{"runAfter":{"Set_-_Adaptive_Card":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}"},"path":"/approvals/@{encodeURIComponent(body('Create_an_approval')?['name'])}/subscriptions","authentication":"@parameters('$authentication')"}},"Set_-_Adaptive_Card":{"runAfter":{"Create_an_approval":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AdaptiveCard","value":"{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.0\",\n    \"body\": [\n        {\n            \"type\": \"Image\",\n            \"url\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAAeCAIAAADmXcb7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAnrSURBVHhe7Zx5ONT7F8eNMYxl7GMnayih7FLSLamu6pIiVOpG7q9bv+rp3vZo75b20qJCabGT0pC0aBFCdmUNw2AWzIwx2+/wnevp9zz3tz38/vA1r6dnOud8znzn2/N9zznn852ZMEKhUGKywhPwJTGSkhiMyBczfkiK/p6UWF3ymRsTQmUzRL6Y8WOSCquFTg5JPSiNlQ5zWBmQuFsUFTN+oF9YFV1fSsm1FCYVcVncwetFyUvvbrHXnZ699kqw7Y84rFRC+RNkVcx4gf4Zy/jsUm2Ceg+Tnr3uirGK3sa0CFkcPtzRb7qGCZJQ3lkHwcKwe1hJLBIRM3bQX7FkcTIFm+IWmbmSvrzjCwXt/ZQVlh6jqgKsNacq4Qk13U0iX8x4MAlmrOGKLFSQlttFOnezKOV3t5DQjMMb0g7R2H2wwBgciClJ5Ql4ULdGssWMD5NleLfWMoucHy6UEHoYO8BopamgtvNZFKjq6sdHa2297/udPFMQD6OYKFvMmEGzsLgCHuz4GJwBsP1neDGH2EjcXN1wh2twVt3riBfRYMhISesqaiw0dW7voyAJYsYOmoUlEAg+ddRscwkE+3nDh7tlWR5GDsjShfcJsw1sT3puA1UhEQt1o1slaYgtZuyguhViJDj8oVB7X4wE5kVj0R73jRZEIwgXt1c/rCCd8doxqirA39qrmtIoEApEvpixgWZhyWCloQMefXlzkDfU0d8NVWphbJhnXPjqR7tu/xRhoqovyhtBDodXxCuIHDFjBuXD+wITJw6fMzDEctG3zl57Nc73aKzP4eLwB3MN7WAVGmVsaSaSKWZ8QbOwbhSlxIyMTepyylCxHlWQ2FyODoGoIqsIQVBVFaVh/cxlI7lixhk0Cyuz7qUl0chWywJsGJ7yGgsXxYWvS9kPfzZnHq3raQ62/RHJFDPuoLwVepu7r5+1fNgSSoQ5rMwKvrTFyT/ccVUZuTbAevFIipj/C2gW1hrrJcHJ+1oZZLCRD0Qt1A0d9Kwc9awGhtgN1G8jse+ZxN9NG2/QLazFoQ6+UQXxiHvsZYz3va3k/h5JjKSN1tR+DguJj2KorPO07s3bltLfSOfAPfXmTkxJKmNwICzjSDWlAcn59+Q1FF768EDkjJBclXuzOEXk/EkZuS4y/zpi9zBp25+eRt9XAbAREREiE430c5i1Pc1Lps4Be4aWWXF7lddUVxjeyzvr63taphGNQWQ4rBSS3EzrkMXJ6CppwgTmM23+pvTDNd1NZmoGkfnX9rn//LyhEBLKO+uksbiyzrpvjM6uAWr/EGuQyykl1+oqamTVvZKTlpXEYIxU9eJLHxe1V1kQDdNq8uu6m+Gl02vytQnEhPIntME+Grsv+mMiQVq+o59ioKwNh1KTUyrvqm+ktWvIqySUP4VzsyAawbkhJzYRQbOwYGBvoLbV97aAsIxUdK00TR9WkJZMdQNhzTWyW596AIPBuE2ZOfptmbetZUp4hfnGjjeKUzoHemq7m7tZNJ6Ap4JXLGgpTawkFbSWXStK0lfWCs040jnQC0uw06ykfD2Yd9Vay2wn6ay+klZ2fUFmzSvS13fVlMaM2nxdRc1eFh0qH+xMH1WSWunkT+RaAyXt+LIsePqJ17dttc3//vQPQxXdTemRcGJn395t6+uCF3r/rdzbwh05sYkImlsh8cS8LVkn8FIyiBtXmtnG6CTKqYAdkRdtSTTe7hoE5QdZBTj8IXiEOjHPyD6pMmehqTNsKqHSeBg7wmPCyuNZQReRTG2Cekbg+QUmTi+bilOr82SkcHtzL/lNXwjlSiAU5jS8j1lx6M2m2CfBlyE5q+5NI7X99zkb3A3tYGfazaQKJYTGqnpJ/mdMVfW7mTTkmLMNbH9zC/nw7XMLncwcYn/urEfiExQ0CwvaU27I9dUzFiFu9MektDXnCDLyTC77QcWzlIAoORwe4qMf42TWvrTTmQaGh5ED6GOx2ewfjJ1g+oEiZ6djuTvnwq9PTiGZiBxn6VhKSWJNVQ2CbJZCXVxl5QlB0JanqUt45jHP2DDfBzsh4mXmqigjf/F9AijmF8dVhW2VbYwu7Eib+77Z4bA4VVlFGP40FdRAdmsn+A02NLfCqLfxe+ZuhPaEuDElaeFOq0ATXD7vYcWzLc7+EIQhKeJF9AITZzaXA/kHPELhkusQiOpyKn5WnmZqU6CHLrNwh64EzdFYRddJ39rNwBauvbO+NXRSHUUNmMZcDWwNVXSWWcwDocDMtMttnRRWCgasQx6bobfO0DRba+vN4nKWW86DoW2zox9URB2CBjRBeWnZmdoWUEShmMHbADJXWM6nD/ZDJQuZuXx0+JuQwDsSrQQn7wtJPShyhEKna0Ewy4MxwGHZXQ0AA8QUmLjnb4+Pg01n98+5GTKcNwKPz+ML+CLnPwE1T2T9MxzeEJs7KHL+awQIIm+iguZWeH3ZftiaiZzvgBEHMShMqpGqLtKVRoErui/3UkDSHp/7O+58ShdF/zVUFmM36YLI+Y6LH+4HJe3dmBaxMzvqf/rSxCdyzfPGQpjlRf7EBM3Cgsb0lz9FTat+oUNQR+zhNxdi/UlyVS60s8TVf6QHnrfRMod93IbUQ0HJe181FZ98fZsvFEA7e/j5WVjGERANXH6YzGCEP10QW9JRDSXqQN4VOEhl19dmWkei/+kEvxPQc/s4zO1PT69L2X+9KBm6MKwimZH510IzDgck7oY95pmC+HUpB355fJzG7ofKCntG5HwmKGgW1l9yqyQtuer5/VUnETexMme1lWi6R4CrDhMPYsN4fvz1rROeW2N9jlwufNjK6AQdsrjsLia1m0WL+enQdA0TLYL6HMOZa6yX3C5JhyPbj4z/X6itjnpWyEFgSkuqzIU9Zpzv0drupnJy/SCPI5AQdvb3NNHao7x2/mzvc/7dPSqbHud7ZJvLmiZaGwp+Q4tmYcFwDe/+4vbqFvrwjU2YvqGGfeltXWDi1MuiQ7CR2gZC0VXSGLZpbcizkPtY0LygzMSXPoYIV8Ab6WUY2APS2H3IDQIFaTmMBAYeeQI+uDB6D/KGkqpylprPBddV3+ZRBYkxOACV6UZRMnOIxeUPp0GfxeNkoAVTBoZ/5wjnIy8tJ4/DgwHJ0KN7WQwoirA00UH57wqhhNz5lIHYa6y9Am2WwtS1//nl0X+1JdF49EPDMMeV3ubD9yQffM5Or8mHi73VJWCKsk7ki2uwkYRVgoz8qde3FWUUoPzAs7a7Bud8fa+MJ1RRGkJmLYey1Exv3+W2HjkaCBrGLHhioM0ST1OXQ3nR0O9+MHGEl9iTexEvJW2ubgiy+9U5oL63pZneAcLKri8wVTPwNHGmDw5UdzdC9UIONRGZ1P8pyPhy7FVMqL0vUX74BuxkR0LiH+VLsPTO1AvrAAAAAElFTkSuQmCC\",\n            \"selectAction\": {\n                \"type\": \"Action.OpenUrl\",\n                \"url\": \"https://warwickshiregovuk.sharepoint.com/\",\n                \"title\": \"Warwickshire County Council\"\n            }\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Large\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Please Review: \"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Requested by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} @{body('Item_to_approve_details')?['Editor']?['DisplayName']}\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Date Created\",\n                    \"value\": \" @{body('Create_an_approval')?['requestDate']}\"\n                },\n                {\n                    \"title\": \"Link\",\n                    \"value\": \"[@{body('Create_an_approval')?['title']}](@{body('Create_an_approval')?['itemLink']})\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\\n\\n- **Title:**  @{variables('ApprovalItemTitle')}\\n- **Description:**  @{variables('ApprovalItemDescription')}\",\n            \"wrap\": true\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"version\": \"1.0\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Comments\",\n                        \"wrap\": true\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comments1\",\n                        \"placeholder\": \"Enter comments\",\n                        \"isMultiline\": true,\n                        \"maxLength\": 1000\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"data\": {\n                            \"Environment\": \"Default-6a0006ff-a17d-4d7e-9612-3174aa905ea9\",\n                            \"ApprovalTitle\": \"Please Review: \",\n                            \"ApprovalLink\": \"https://flow.microsoft.com/manage/environments/Default-6a0006ff-a17d-4d7e-9612-3174aa905ea9/approvals/received/@{body('Create_an_approval')?['name']}\",\n                            \"ApprovalName\": \"@{body('Create_an_approval')?['name']}\",\n                            \"ItemLink\": \"@{body('Create_an_approval')?['itemLink']}\",\n                            \"ItemLinkDescription\": \"@{variables('ApprovalItemDescription')}\",\n                            \"OnBehalfOfNotice\": \"Requested by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} <@{body('Item_to_approve_details')?['Editor']?['Email']}>\",\n                            \"CreatorName\": \"@{body('Item_to_approve_details')?['Editor']?['DisplayName']}\",\n                            \"CreatorEmail\": \"@{body('Item_to_approve_details')?['Editor']?['Email']}\",\n                            \"CreationTime\": \"\\\"@{body('Create_an_approval')?['requestDate']}\\\"\",\n                            \"MessageTitle\": \"Please Review: \",\n                            \"Details\": \"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\\n\\n- **Title:**  @{variables('ApprovalItemTitle')}\\n- **Description:**  @{variables('ApprovalItemDescription')}\",\n                            \"Options\": [\n                                \"Approve\",\n                                \"Reject\"\n                            ],\n                            \"SelectedOption\": \"Approve\",\n                            \"ActionType\": 1\n                        },\n                        \"title\": \"Submit\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            },\n            \"title\": \"Approve\"\n        },\n        {\n            \"type\": \"Action.ShowCard\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"version\": \"1.0\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Comments\",\n                        \"wrap\": true\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comments2\",\n                        \"placeholder\": \"Enter comments\",\n                        \"isMultiline\": true,\n                        \"maxLength\": 1000\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"data\": {\n                            \"Environment\": \"Default-6a0006ff-a17d-4d7e-9612-3174aa905ea9\",\n                            \"ApprovalTitle\": \"Please Review: \",\n                            \"ApprovalLink\": \"https://flow.microsoft.com/manage/environments/Default-6a0006ff-a17d-4d7e-9612-3174aa905ea9/approvals/received/@{body('Create_an_approval')?['name']}\",\n                            \"ApprovalName\": \"@{body('Create_an_approval')?['name']}\",\n                            \"ItemLink\": \"@{body('Create_an_approval')?['itemLink']}\",\n                            \"ItemLinkDescription\": \"@{variables('ApprovalItemDescription')}\",\n                            \"OnBehalfOfNotice\": \"Requested by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} <@{body('Item_to_approve_details')?['Editor']?['Email']}>\",\n                            \"CreatorName\": \"@{body('Item_to_approve_details')?['Editor']?['DisplayName']}\",\n                            \"CreatorEmail\": \"@{body('Item_to_approve_details')?['Editor']?['Email']}\",\n                            \"CreationTime\": \"\\\"@{body('Create_an_approval')?['requestDate']}\\\"\",\n                            \"MessageTitle\": \"Please Review: \",\n                            \"Details\": \"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\\n\\n- **Title:**  @{variables('ApprovalItemTitle')}\\n- **Description:**  @{variables('ApprovalItemDescription')}\",\n                            \"Options\": [\n                                \"Approve\",\n                                \"Reject\"\n                            ],\n                            \"SelectedOption\": \"Reject\",\n                            \"ActionType\": 1\n                        },\n                        \"title\": \"Submit\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            },\n            \"title\": \"Reject\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n}"}}},"runAfter":{"Auto_approval_-_contents":["Succeeded"]},"type":"Scope"}}},"expression":{"equals":["@body('Item_to_approve_details')?['PromotedState']",0]},"type":"If"}},"runAfter":{"Condition_-_Check_for_library_type":["Succeeded"]},"else":{"actions":{"Condition_-_Check_if_item_status_is_pending":{"actions":{},"runAfter":{"Get_item_pending_3":["Succeeded"]},"else":{"actions":{"Terminate_3":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@body('Get_item_pending_3')?['{ModerationStatus}']","Pending"]},"type":"If"},"Get_item_pending_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(triggerBody()?['ItemId'])}","authentication":"@parameters('$authentication')"}},"Auto_approval_-_contents_2":{"actions":{"Condition_-_Check_if_item_is_pending_3":{"actions":{},"runAfter":{"Get_item_pending_4":["Succeeded"]},"else":{"actions":{"Terminate_4":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@body('Get_item_pending_4')?['{ModerationStatus}']","Pending"]},"type":"If"},"Get_item_pending_4":{"runAfter":{"Condition_-_Check_group_membership_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(triggerBody()?['ItemId'])}","authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_get_publisher_permissions_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/web/getusereffectivepermissions(@user)?@user=%27i%3A0%23.f%7Cmembership%7C@{triggerBody()?['EditorEmail']}%27","headers":{"Accept":"application/json; odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/httprequest","authentication":"@parameters('$authentication')"}},"Condition_-_Check_group_membership_3":{"actions":{"Set_content_approval_status_-_auto_approved_3":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_auto_approval_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(body('Source_list_details')?['d']?['Title']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","comments":"This item has been auto approved","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Condition_-_Check_scheduled_publishing_for_auto_approval_3":{"actions":{"Delay_until_5":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"}},"runAfter":{"Publisher_permissions_3":["Succeeded"]},"expression":{"equals":["@body('Publisher_permissions_3')?['d']?['GetUserEffectivePermissions']?['Low']","@string('4294705151')"]},"type":"If"},"Publisher_permissions_3":{"runAfter":{"Send_an_HTTP_request_to_get_publisher_permissions_3":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_to_get_publisher_permissions_3')","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"GetUserEffectivePermissions":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"type":{"type":"string"}}},"High":{"type":"string"},"Low":{"type":"string"}}}}}}}}}},"runAfter":{"Condition_-_Check_if_item_status_is_pending":["Succeeded"]},"type":"Scope"},"Approval_-_contents_2":{"actions":{"Condition_-_Check_for_approval_3":{"actions":{"Condition_-_Check_scheduled_publishing_for_approval_3":{"actions":{"Delay_until_6":{"runAfter":{},"type":"Wait","inputs":{"until":{"timestamp":"@{body('Item_to_approve_details')?['PublishOnwcc']}"}}}},"runAfter":{},"expression":{"equals":["@body('Item_to_approve_details')?['SchedulePublishingwcc']?['Value']","Yes"]},"type":"If"},"Apply_to_each_8":{"foreach":"@body('Wait_for_an_approval_3')?['responses']","actions":{"Send_an_email_-_approved_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Approved: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')} has been approved by @{items('Apply_to_each_8')?['responder']?['displayName']}. Comments (if any): @{items('Apply_to_each_8')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_approved_3":["Succeeded"]},"type":"Foreach"},"Set_content_approval_status_-_approved_3":{"runAfter":{"Condition_-_Check_scheduled_publishing_for_approval_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Approve","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Wait_for_an_approval_3":["Succeeded"]},"else":{"actions":{"Set_content_approval_status_-_rejected_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SetApprovalStatus"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"method":"post","path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('ApprovalItemSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Resource']))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ItemId']))}/setapprovalstatus","queries":{"approvalAction":"Reject","entityTag":"@body('Get_item_metadata_using_path')?['ETag']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_9":{"foreach":"@body('Wait_for_an_approval_3')?['responses']","actions":{"Send_an_email_-_rejected_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()?['EditorEmail']};","Subject":"Rejected: change to @{variables('ApprovalItemTitle')}","Body":"Your request for a change to @{variables('ApprovalItemTitle')}  has been rejected by @{items('Apply_to_each_9')?['responder']?['displayName']}. This item will remain as draft. \n\nComments (if any): @{items('Apply_to_each_9')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_content_approval_status_-_rejected_3":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["","Approve"]},"type":"If"},"Create_an_approval_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"method":"post","body":{"title":"Please Review: ","assignedTo":"William.Wright@glenshire.onmicrosoft.com;","details":"The following page was edited by @{body('Item_to_approve_details')?['Editor']?['DisplayName']} and needs approval.\n\n- **Title:**  @{variables('ApprovalItemTitle')}\n- **Description:**  @{variables('ApprovalItemDescription')}","itemLink":"@{body('Item_to_approve_details')?['{Link}']}","itemLinkDescription":"@{body('Item_to_approve_details')?['Title']}","enableNotifications":true},"path":"/types/@{encodeURIComponent('Basic')}","authentication":"@parameters('$authentication')"}},"Wait_for_an_approval_3":{"runAfter":{"Create_an_approval_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}"},"path":"/approvals/@{encodeURIComponent(body('Create_an_approval_3')?['name'])}/subscriptions","authentication":"@parameters('$authentication')"}}},"runAfter":{"Auto_approval_-_contents_2":["Succeeded"]},"type":"Scope"}}},"expression":{"equals":["@body('Source_list_details')?['d']?['BaseTemplate']",119]},"type":"If"},"Initialize_-_Approval_group_Id_-_contents":{"runAfter":{"Initialize_-_Tenant_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalGroup","type":"String","value":"725b1ce5-cbc8-4913-a5bc-3e99a4fbbb63"}]}},"Initialize_-_Approval_group_Id_-_news":{"runAfter":{"Initialize_-_Approval_group_Id_-_contents":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewsApprovalGroup","type":"String","value":"725b1ce5-cbc8-4913-a5bc-3e99a4fbbb63"}]}},"Initialize_-_Approval_Item_File_Identifier":{"runAfter":{"Initialize_-_Approval_Item_Site_Url":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalItemFileIdentifier","type":"String"}]}},"Initialize_-_Approval_Item_Title":{"runAfter":{"Initialize_-_Approval_Item_File_Identifier":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalItemTitle","type":"String"}]}},"Initialize_-_Approval_Item_File_Identifier_Description":{"runAfter":{"Initialize_-_Approval_Item_Title":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalItemDescription","type":"String"}]}},"Initialize_-_Tenant_URL":{"runAfter":{"Condition":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RootSite","type":"String","value":"https://glenshire.sharepoint.com"}]}},"Initialize_-_Approval_Item_Site_Url":{"runAfter":{"Initialize_-_Approval_Team_-_Contents":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalItemSiteUrl","type":"String"}]}},"Set_-_Approval_Item_Site_Url":{"runAfter":{"Source_list_details":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ApprovalItemSiteUrl","value":"@{variables('RootSite')}@{body('Source_list_details')?['d']?['ParentWebUrl']}"}},"Set_-_Approval_Item_File_Identifier":{"runAfter":{"Item_to_approve_details":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ApprovalItemFileIdentifier","value":"@{body('Item_to_approve_details')?['{Path}']}@{body('Item_to_approve_details')?['{FilenameWithExtension}']}"}},"Condition_-_Check_for_library_type":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":119,"actions":{"Set_-_Approval_Item_Title_for_Site_Page":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalItemTitle","value":"@{body('Item_to_approve_details')?['Title']}"}},"Set_-_Approval_Item_Description_for_Site_Page":{"runAfter":{"Set_-_Approval_Item_Title_for_Site_Page":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ApprovalItemDescription","value":"@{body('Item_to_approve_details')?['Description']}"}}}},"Case_2":{"case":101,"actions":{"Set_-_Approval_Item_Title_for_Document":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalItemTitle","value":"@{body('Item_to_approve_details')?['{Name}']}"}},"Set_-_Approval_Item_Description_for_Document":{"runAfter":{"Set_-_Approval_Item_Title_for_Document":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ApprovalItemDescription","value":"@{body('Item_to_approve_details')?['Description']}"}}}}},"default":{"actions":{"Set_-_Approval_Item_Title_for_Others":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalItemTitle","value":"@{body('Item_to_approve_details')?['{Name}']}"}}}},"expression":"@body('Source_list_details')?['d']?['BaseTemplate']","type":"Switch"}},"runAfter":{"Get_item_metadata_using_path":["Succeeded"]},"else":{"actions":{"Set_-_Approval_Item_Title_when_no_Content_Type":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalItemTitle","value":"@{body('Item_to_approve_details')?['{Name}']}"}}}},"expression":{"or":[{"equals":["@body('Source_list_details')?['d']?['BaseTemplate']",119]},{"equals":["@body('Source_list_details')?['d']?['BaseTemplate']",101]}]},"type":"If"},"Initialize_-_Approval_Team_-_Contents":{"runAfter":{"Initialize_-_Approval_group_Id_-_news":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ContentsApprovalTeam","type":"String","value":"621e7887-fe72-4dd8-b6df-7453a5af10cf"}]}},"Initialize_-_Adaptive_Card":{"runAfter":{"Initialize_-_Approval_Item_File_Identifier_Description":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AdaptiveCard","type":"String"}]}},"Condition":{"actions":{"Terminate_5":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['Activity']","Deleted"]},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-f0632516-4844-437d-b45d-525c15e082a9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-cab15c19-e1fc-410d-82ba-52e810c054e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-32063f22-c103-41d3-a8ac-7dab4c12ffb8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}